* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

::-webkit-scrollbar {
    /* display: none; */
}

br {
    content: '';
    padding-bottom: 5rem;
}

body {
    font-size: 0;
    box-sizing: border-box;
}