* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

::-webkit-scrollbar {
    display: none;
}

textarea br {
    padding-bottom: 1rem;
}

body {
    font-size: 62.5%;
    box-sizing: border-box;
}